.card {
  max-height: 130px;
  padding: 10px;
  /* background-color: #213547; */
  border-radius: 5px;
  border: 2px solid #747bff;
  cursor: pointer;
}

.title {
  text-transform: uppercase;
}

.selected {
  border: 2px solid orange;
}
